name: small_test

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main


jobs:
  test:
      runs-on: ubuntu-latest

      steps:
      - name: check code
        uses: actions/checkout@v4

      - name: set up python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: run tests
        run: pytest -v tests_.py
